<div class="content">
    <!--The content below is only a placeholder and can be replaced.-->
    <div style="text-align:center">
        <h1>
            Welcome to My GrandMother's app!
        </h1>
        <h1>
            It's {{ clockService.clock.toLocaleString('vi') }}!
        </h1>
        <img width="300" alt="Angular Logo" src="./../assets/chicken.png">
    </div>


    <table class="table table-bordered">
        <thead>
            <tr class="success">
                <th scope="col" class="text-center">Fed Time</th>
                <th scope="col" class="text-center">Duration</th>
                <th scope="col" class="text-center">Loop</th>
            </tr>
        </thead>
        <tbody *ngFor="let feeding of feedingService.fedList">
            <tr>
                <th scope=" row " class="text-center ">{{feeding.time}}</th>
                <td>{{feeding.duration}}</td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" [checked]="feeding.loop" onclick="return false;">
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>